@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;900&display=swap');
* {
    font-family: 'Fira Sans', sans-serif;
}
.couleur {
    background-color:  #764cc5;
    text-decoration-color: white;
}


.centrar{
    justify-content: center;
}
.container-fluid a {
    margin: 10px;
    color: #764cc5;
}

.navbar .btn {
    color: #fff;
}

.navbar {
    margin-left: 65px;
    font-weight: 900;
}

.navbar:hover {
    color: #fff;
}

.navbar-brand {
    font-size: 30px;
}
